/* |-| MAIN */
main h1 {
  margin: 2rem;
}

.show-grid {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem 0;
  text-align: center;
}

.show-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  padding: 3rem 0;
  text-align: center;
}

.show-grid .member {
  border: 1px solid lightgray;
  box-shadow: 3px 2px 6px lightgray;
  transition: 0.4s ease-in-out;
  width: 85%;
  margin: 0 auto;
}

.show-list .member {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 0.7rem;
  padding: 1rem;
  border: 1px solid lightgray;
  box-shadow: 3px 2px 6px lightgray;
  transition: 0.4s ease-in-out;
  border-radius: 4px;
  width: 90%;
  margin: 0 auto;
}

.show-list .member > img {
  display: none;
}

.show-grid .member:hover {
  transform: scale(1.1);
}

.show-list .member:hover {
  transform: scale(1.1);
}

.display-btns {
  text-align: center;
}

.fa-list,
.fa-table {
  font-size: 2rem;
  color: var(--deep-blue);
  margin: 0 1rem;
  cursor: pointer;
  padding: 1rem;
}

.active-btn {
  background-color: var(--peach);
  color: var(--deep-blue);
  border-radius: 5px;
}