@media screen and (min-width: 600px) {
  main {
    grid-template-columns: 1fr 1fr;
  }

  form {
    font-size: 1.1rem;
  }

  h1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  label {
    width: 60%;
  }

  .submit {
    margin-left: 7rem;
  };
}