/* |-| KEYFRAMES */
@keyframes fadeIn {
  0% {
    display: none;
  }

  20% {
    display: block;
    position: relative;
    top: 4rem;
    opacity: 0.2;
  }

  40% {
    top: 3rem;
    opacity: 0.4;
  }

  60% {
    top: 2rem;
    opacity: 0.6;
  }

  80% {
    top: 1rem;
    opacity: 0.8;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

/* |-| MAIN */
main {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 3rem;
}

h1 {
  padding: 1rem 2rem;
}

form {
  background-color: var(--peach);
  color: var(--deep-blue);
  width: 90%;
  margin: 0 auto;
  border-radius: 4px 35px 4px 20px;
}

h2 {
  text-align: center;
}

label,
.general-info input,
textarea {
  display: block;
}

label {
  width: 65%;
  margin: 0 auto;
}

.general-info {
  line-height: 1.5;
}

.general-info input {
  min-height: 44px;
  border-radius: 5px;
}

.required {
  color: #FF0000;
  font-weight: 900;
  font-size: 1.3rem;
}

.membership {
  line-height: 2;
  margin-top: 2.5rem;
}

.description-box {
  margin-top: 1.5rem;
  line-height: 2;
}

.submit {
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  box-shadow: 3px 3px 20px gray;
  transition: 0.5s ease-in-out;
  display: block;
  width: 50%;
  margin: 2rem auto;
}

.submit:active {
  position: relative;
  top: 6px;
}

.card {
  text-align: center;
  background-color: var(--peach);
  width: 70%;
  padding: 2.5rem 1rem;
  margin: 2rem auto;
  border-radius: 5px;
  cursor: pointer;
  animation: fadeIn 0.4s ease-in;
}

.donation-box,
.lightning-bolt,
.silver-spoon,
.gold-medal {
  font-size: 2rem;
  transition: 0.4s ease-in-out;
  background-color: #000000;
  color: #FFFFFF;
  padding: 1rem;
  border-radius: 50%;
}

.gold-card:hover .gold-medal {
  color: gold;
}

.silver-card:hover .silver-spoon {
  color: silver;
}

.bronze-card:hover .lightning-bolt {
  color: brown;
}

.non-profit-card:hover .donation-box {
  color: #C76E00;
}