@media screen and (min-width: 600px) {
  .menu-icon {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    font-size: 1.5rem;
  }

  nav a {
    padding: 1rem 2rem;
  }

  footer {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    text-align: left;
  }

  /* ************************** HOME PAGE ************************** */
  .hero {
    background-image: url('../images/hero.webp');
    height: 350px;
  }

  .ewf,
  .spotlights {
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 1.1rem;
  }

  .events p {
    width: 80%;
    margin: 0 auto;
  }

  /* **************************** DISCOVER PAGE **************************** */
  .discover-main {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .discover-main h1 {
    grid-column: 1 / 4;
  }

  .sidebar {
    grid-column: 1 / 2;
  }

  .images {
    grid-column: 2 / 4;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .image {
    width: 350px;
    height: 350px;
    transition: 0.4s ease-in-out;
  }
  
  .image:hover {
    opacity: 0.7;
  }

  .separator {
    display: none;
  }
}