@charset "utf-8";

/* |-| VARIABLES */
:root {
  /* Fonts */
  --heading-font: Inter, sans-serif;
  --para-font: "Asap Condensed", sans-serif;

  /* Colors */
  --deep-blue: #000080;
  --peach: #FFDAB9;
  --persian-indigo: #36006B;
  --straw: #C6D364;
}

/* |-| GENERIC STYLES */
* {
  box-sizing: border-box;
}

body {
  font-family: var(--para-font);
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

/* |-| HEADER & FOOTER */
header {
  background-color: var(--peach);
  color: var(--deep-blue);
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  padding: 0.5rem 1.2rem;
  font-size: 0.9rem;
}

.site-title {
  font-size: 1.7rem;
  font-weight: 700;
}

.menu-icon {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--deep-blue);
  margin: 6px 0px;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {opacity: 0;}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

/* |-| NAVIGATION */
nav {
  background-color: var(--straw);
  display: none;
  flex-direction: column;
  font-size: 1.3rem;
  text-align: center;
}

nav a {
  text-decoration: none;
  padding: 1rem 0;
  color: var(--persian-indigo);
  transition: 0.4s ease-in-out;
}

nav a:hover {
  background-color: #000000;
  color: #FFFFFF;
  text-decoration: underline;
}

.active-link {
  background-color: #000000;
  color: #FFFFFF;
  font-weight: 700;
  text-decoration: underline;
}

.show-nav {
  display: flex;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--peach);
  color: var(--deep-blue);
  line-height: 1.5;
  padding: 1rem;
  text-align: center;
}

footer p {
  margin: 0;
}

.fa-square-facebook,
.fa-square-x-twitter,
.fa-square-instagram {
  font-size: 3rem;
  margin: 1rem;
  color: var(--deep-blue);
}

/* **************************** HOME PAGE **************************** */
/* |-| MAIN */
.hero {
  width: 100%;
  height: 250px;
  background-image: url('../images/hero-sm.webp');
  position: relative;
}

.action-link {
  position: absolute;
  right: 2rem;
  bottom: 1.5rem;
  text-decoration: none;
  background-color: #FFFFFF;
  color: #000000;
  padding: 1rem 2rem;
  font-weight: 700;
  border: 1px solid #FFFFFF;
  transition: 0.4s ease-in-out;
  font-size: 1.2rem;
}

.action-link:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.home-main h1 {
  padding: 0 1.5rem;
}

.ewf,
.spotlights {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  padding: 1rem;
  gap: 2rem;
}

.events,
.weather,
.forecast,
.gold-member-card {
  border: 1px solid lightgray;
  box-shadow: 1px 2px 10px lightgray;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.events:hover,
.weather:hover,
.forecast:hover,
.gold-member-card:hover {
  background-color: #e6d2d34d;
}

.events h2,
.weather h2,
.forecast h2,
.gold-member-card h2 {
  background-color: var(--straw);
  color: var(--persian-indigo);
  padding: 1.3rem;
  margin: 0;
}

.events p {
  padding: 1rem;
}

.weather img {
  margin-top: 1.5rem;
}

.weatherInfo {
  margin-bottom: 1.5rem;
}

.gold-member-card h2 {
  margin-bottom: 1rem;
}

.spotlights {
  margin-bottom: 1.5rem;
}

/* **************************** DISCOVER PAGE **************************** */
/* |-| MAIN */
.discover-main {
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  margin: 2rem auto;
  text-align: center;
  gap: 2rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
}

.separator {
  border: 3px groove lightgray;
  width: 25rem;
}

.discover-main h1 {
  text-align: left;
}

.sidebar section {
  border: 2px solid lightgray;
  box-shadow: 2px 3px 10px lightgray;
}

.image {
  border-radius: 5px;
  transition: 0.4s ease-in-out;
}

.image:hover {
  opacity: 0.7;
}